/* buttons and icons and smaller reusable bits here */

@import "forms.css";

div.actions {
  display: flex;
  gap: var(--space-l);
  justify-content: center;
}

:is(a, button).button {
  font-family: var(--font2);
  font-size: var(--step-0);

  white-space: nowrap;
  background: var(--color);
  color: var(--paper);

  padding: 1.25em 1em;

  border-right: 5px solid var(--highlight);
  clip-path: var(--clip-path);

  @media (max-width: 768px) {
    font-size: var(--step--1);
  }
}

:is(a, button).text {
  color: var(--ink);
  text-decoration: none;
  padding: 0.25em;
  position: relative;
}

:is(a, button).text::before {
  content: "";
  position: absolute;
  height: var(--line-width);
  width: 50%;
  bottom: 0;
  left: 0;

  background-color: var(--paper);
  transition: 0.2s;
}

:is(a, button).text:hover::before {
  width: 100%;
}

.white-underline {
  position: relative;
}

.white-underline::before {
  content: "";
  position: absolute;
  height: var(--line-width);
  width: 50%;
  bottom: 0;
  left: 0;

  background-color: var(--paper);
  transition: 0.2s;
}

.white-underline:hover::before {
  width: 100%;
}

/* scrollbar */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: var(--line-width); /* Firefox */
}
/* This part is for the scrollbar track / */
*::-webkit-scrollbar {
  width: var(--line-width);
  height: var(--line-width);
}

/* / This part is for the track (the part that the thumb slides across) / */
::-webkit-scrollbar-track {
  box-shadow: var(--shadow);
  border-radius: var(--corners);
}

/* / This part is for the thumb (the part you drag) / */
::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: var(--corners);
}

/* / This part is for the thumb when it's being hovered over  */
::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}
