/* buttons and icons and smaller reusable bits here */

@import "forms.css";

div.actions {
  display: flex;
  gap: var(--space-l);
  justify-content: center;
}

:is(a, button).button {
  font-family: var(--font2);

  white-space: nowrap;
  color: var(--white);
  border-radius: 500px;

  padding: 0.5em;

  background: var(--black);
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20d%3D%22M%2024%2012%20L%2044%2032%20L%2024%2052%22%20fill%3D%22transparent%22%20stroke-width%3D%226%22%20stroke%3D%22%23FFFFFF%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-dasharray%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-position: center right 0.5em;
  background-repeat: no-repeat;
  background-size: 5%;
  transition: padding-left 0.5s, background-position 0.2s 0.05s;

  @media (max-width: 768px) {
    /* font-size: var(--step--1); */
  }
}

.button:hover {
  background-repeat: repeat-x;
  background-position: center right -3em;
  background-blend-mode: luminosity;
  padding-left: 30%;
}

:is(a, button).text {
  color: var(--ink);
  text-decoration: none;
  padding: 0.25em;
  position: relative;
}

:is(a, button).text::before {
  content: "";
  position: absolute;
  height: var(--line-width);
  width: 50%;
  bottom: 0;
  left: 0;

  background-color: var(--paper);
  transition: 0.2s;
}

:is(a, button).text:hover::before {
  width: 100%;
}

.white-underline {
  position: relative;
}

.white-underline::before {
  content: "";
  position: absolute;
  height: var(--line-width);
  width: 50%;
  bottom: 0;
  left: 0;

  background-color: var(--paper);
  transition: 0.2s;
}

.white-underline:hover::before {
  width: 100%;
}

/* scrollbar */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: var(--line-width); /* Firefox */
}
/* This part is for the scrollbar track / */
*::-webkit-scrollbar {
  width: var(--line-width);
  height: var(--line-width);
}

/* / This part is for the track (the part that the thumb slides across) / */
::-webkit-scrollbar-track {
  box-shadow: var(--shadow);
  background: var(--black);
  border-radius: var(--corners);
}

/* / This part is for the thumb (the part you drag) / */
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: var(--corners);
}

/* / This part is for the thumb when it's being hovered over  */
::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}
