/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S ections and more stuff */
@import "utilities.css";

/* then other contextual styles */
body {
  background: var(--paper);
  color: var(--ink);
}

#__nuxt {
  display: contents;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(30px) translatex(-10px);
  }

  100% {
    transform: translatey(0px) translatex(10px);
  }
}
