/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@media (prefers-color-scheme: light) {
  html {
    --font1: "Cormorant Infant", serif;
    --font2: "Lato", sans-serif;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    --font1: "Lato", sans-serif;
    /* --font1: "Cormorant Infant", serif; */

    --font2: "Roboto Mono", monospace;
  }

  h1,
  h2,
  h3,
  h4 {
    text-shadow: 2px 2px 0px green;
  }
}

html {
  /* Family */

  /* Size */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1600,18,1.5,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* Step -2: 11.11px → 9.00px */
  --step--2: clamp(0.4444rem, 0.7569rem + -0.3125vw, 0.6944rem);
  --step--1: clamp(0.6669rem, 0.8747rem + -0.2078vw, 0.8331rem);
  --step-0: clamp(1rem, 1rem + 0vw, 1rem);
  --step-1: clamp(1.2rem, 1.125rem + 0.375vw, 1.5rem);
  --step-2: clamp(1.44rem, 1.2375rem + 1.0125vw, 2.25rem);
  --step-3: clamp(1.7281rem, 1.3164rem + 2.0586vw, 3.375rem);
  --step-4: clamp(2.0738rem, 1.3266rem + 3.7359vw, 5.0625rem);
  --step-5: clamp(2.4881rem, 1.2117rem + 6.382vw, 7.5938rem);
  --step-6: clamp(2.9863rem, 0.8852rem + 10.5055vw, 11.3906rem);
  --step-7: clamp(3.5831rem, 0.2073rem + 16.8789vw, 17.0863rem);

  /* Weight */
  --weight-heavy: 700;
  --weight-normal: 400;
  --weight-light: 200;

  /* Line Height */
  --line-height-heading: 1.2;
  --line-height-body: 1.6;
}

.booming-voice {
  font-family: var(--font1);
  font-size: var(--step-5);
  font-weight: var(--weight-heavy);
  line-height: var(--line-height-heading);
}

.loud-voice {
  font-family: var(--font1);
  font-size: var(--step-4);
  line-height: var(--line-height-heading);
}

.attention-voice {
  font-family: var(--font1);
  font-size: var(--step-3);
  line-height: var(--line-height-heading);
}

.firm-voice {
  font-family: var(--font1);
  font-size: var(--step-2);
  line-height: var(--line-height-heading);
}

.notice-voice {
  font-family: var(--font2);
  font-size: var(--step-1);
  line-height: var(--line-height-body);
}

.calm-voice,
p,
li,
label {
  font-family: var(--font2);
  font-size: var(--step-0);
  line-height: var(--line-height-body);
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--weight-heavy);
}

.whisper-voice {
  font-size: var(--step--1);

  color: var(--gray-lighter, #999);
  line-height: var(--line-height-body);
}

.solid-voice {
  font-size: var(--step--1);
  font-weight: var(--weight-heavy);
  line-height: var(--line-height-body);
}

.micro-voice {
  font-size: var(--step--2);
  line-height: var(--line-height-body);
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */
p + p {
  margin-top: 1em; /* Using em since its tied to an element with a set Font Size */
}

h2 + p {
  margin-top: 1.25em;
}

h3 + p {
  margin-top: 1em;
}

code {
  font-family: monospace;
  font-size: var(--step--1);
  color: green;
}
